
<!--<div class="square" (click)="changeColor('yellow')" >-->
<div class="box" ></div>
<div class="square" (click)="moveFromClick()" [style.left.px]="left" [style.top.px]="top"></div>
<!--<div class="square" (keydown)="handleKeyboardEvent('$event') " >-->
<!--  -->
<!--</div>-->
<div>
<!--  <h1>{{title}}</h1>-->
  <h1>Square {{squareCoord}}</h1>
  <h1>Box {{boxCoord}}</h1>
<!--  <app-bonjour></app-bonjour>-->
<!--  <input [type]="monType" [style.backgroundColor]="bgColor" [value]="maValue" [valueAsDate]="maValue">-->
</div>
<!--<div>-->
<!--  <input type="text" {(ngModel)}="content"/>-->
<!--  <hr />-->
<!--  <p {{content}}></p>-->
<!--</div>-->
<!--<div>-->
<!--  <input type="text" {(ngModel)}="content" (ngModelChange)="upperCase($event)"/>-->
<!--  <hr />-->
<!--  <p {{content}}></p>-->
<!--</div>-->

<!--<div *ngIf='true'>div sur le dom > </div>-->
<!--<div *ngIf='false'>div pas sur le dom ></div>-->
<!--<div *ngFor="let item of items"></div>-->
<app-autre></app-autre>
