.square {
  width: 200px;
  height: 200px;
  border:2px solid red;
  position: absolute;
  top:0px;
  left:0px;
}

.box{
  width: 500px;
  height: 500px;
  border:2px solid green;
  position: absolute;
  top:0px;
  left:0px;
}
