<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Film List</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
</head>
<body>
<h1>Film List</h1>
<a th:href="@{/index}">home</a>
<a th:href="@{/acteurList}">Acteur List</a>

<a th:href="@{/filmList}">Film List</a>

<a th:href="@{/empruntList}">Emprunt List</a>

<a th:href="@{/clientList}">Client List</a>
<br/><br/>

<!--combo by genre-->
<form th:action="@{/voirfilm}"
      method="POST">
    <select name="genrechoisi">
        <option th:each="genre : ${genres}"
                th:value="${genre.nature}"
                th:text="${genre.nature}">Genre</option>
    </select>
    <button type="submit"> valider </button>
</form>

<div>
    <table border="1">
        <tr>
            <th>Titre</th>
            <th>Genre</th>
            <th>Réalisateur</th>
            <th>Acteur Principal</th>
        </tr>
<!-- liste des films       -->
        <tr th:each ="film : ${films}">
            <td th:utext="${film.titre}">...</td>
            <td th:utext="${film.genre.nature}">...</td>
            <td th:utext="${film.realisateur}">...</td>
            <td th:utext="${film.acteur.nom}+' '+${film.acteur.prenom}">...</td>
        </tr>
    </table>
</div>
</body>
</html>