<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Welcome</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
</head>
<body>
<h1>Welcome</h1>
<h2 th:utext="${message}">..!..</h2>
<a th:href="@{/acteurList}">Acteur List</a>
</br>
<a th:href="@{/filmList}">Film List</a>
</br>
<a th:href="@{/empruntList}">Emprunt List</a>
</br>
<a th:href="@{/clientList}">Client List</a>
</br>
<a th:href="@{/clientCrea}">Client Création</a>
</br>

</body>
</html>