<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Welcome</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
</head>
<body>
<h1>Welcome</h1>
<h2 th:utext="${message}">..!..</h2>
<a th:href="@{/filmsList}">Films</a>
</br>
<a th:href="@{/peopleList}">People</a>
</br>
<a th:href="@{/planetsList}">Planets</a>
</br>
<a th:href="@{/speciesList}">Species</a>
</br>
<a th:href="@{/starshipsList}">Starships</a>
</br>
<a th:href="@{/vehiclesList}">Vehicles</a>
</br>

<form th:action="@{/comboFilms}"
      method="POST">
    <select name="filmsCoose">
        <option th:each="film : ${films}"
                th:value="${film.title}"
                th:text="${film.title}">wut?</option>
    </select>
    <button type="submit"> valider </button>
</form>

</body>
</html>