<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Liste d'acteur</title>
</head>
<body>

<form th:action="@{/empruntersave}"
      method="POST">

    <!--liste deroulante des clients-->
    <select name="clientchoisi">
        <option th:each="client : ${ensclient}"
                th:value="${client.nom}"
                th:text="${client.nom}">client</option>
    </select>

    <!--liste deroulante des films du genre-->
    <select name="filmchoisi">
        <option th:each="film : ${ensfilm}"
                th:value="${film.titre}"
                th:text="${film.titre}">film</option>
    </select>

    <button type="submit">valider</button>
</form>
</body>
</html>