<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>GESTION CLIENT</title>
</head>
<body>

<table border="1">
                <tr>
                    <th>Nom</th>
                    <th>prenom</th>
                    <th>ville</th>
                    <th>ancienneté</th>
                </tr>
                <tr th:each ="client : ${ensclient}">
                   <td th:utext="${client.nom}">...</td>
                   <td th:utext="${client.prenom}">...</td>
                   <td th:utext="${client.adresse}">...</td>
                   <td th:utext="${client.anciennete}">...</td>
                </tr>
             </table>
</body>
</html>