<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Selection genre</title>
</head>
<body>
<table border="1">
                <tr>
                   <th>titre</th>
                   <th>realisateur</th>
                    <th>acteur principal</th>
                </tr>
                <tr th:each ="film : ${ensfilmchoisi}">
                   <td th:utext="${film.titre}">...</td>
                   <td th:utext="${film.realisateur}">...</td>
                   <td th:utext="${film.acteur.nom}">...</td>
                </tr>
             </table>

</body>
</html>