
<div class="container-fluid">
  <div class="row">
    <div class="col-4">
      <app-cocktails-list (showIngredient)="setDetailIngredient($event)"></app-cocktails-list>
    </div>
    <div class="col-8">
      <app-ingredients-list [cocktail]="selectedCocktail"></app-ingredients-list>
    </div>
  </div>
</div>
