<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">   
    <head>      
        <meta charset="UTF-8"/>
        <title>Liste des Personnages par Sexe</title>         
    </head>   
    <body>
        <h1>Liste de Personnages</h1>
        <table border="1">
            <thead>
            <tr>
                <th> id</th>
                <th> nom</th>
                <th> prenom</th>
                <th> sexe</th>

            </tr>
            </thead>
            <tbody>
            <tr th:each="pers : ${listePersoSex}">
                <td th:text="${pers.id}"></td>
                <td th:text="${pers.nom}">/</td>
                <td th:text="${pers.prenom}">/</td>
                <td th:text="${pers.sexe}">/</td>

            </tr>
        </table>
        <div th:if="${personnagePage.totalPages > 0}"
             th:each="pageNumber : ${pageNumbers}">
            <a th:href="@{/listePersonnagesSexe(size=${personnagePage.size}, page=${pageNumber})}"
               th:text="'page n°'+${pageNumber}"></a>
        </div>
    </body>
</html>