<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">   
    <head>      
        <meta charset="UTF-8"/>
        <title>Liste des Albums</title>         
    </head>   
    <body>
        <h1>Liste de Albums</h1>
        <table border="1">
            <thead>
            <tr>
                <th> id</th>
                <th> titre</th>
                <th> annee</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="alb : ${listeAlbum}">
                <td th:text="${alb.id}"></td>
                <td th:text="${alb.titre}">/</td>
                <td th:text="${alb.annee}">/</td>

            </tr>
        </table>
        <div th:if="${albumPage.totalPages > 0}"
             th:each="pageNumber : ${pageNumbers}">
            <a th:href="@{/listeAlbums(size=${albumPage.size}, page=${pageNumber})}"
               th:text="'page n°'+${pageNumber}"></a>
        </div>
    </body>
</html>