<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Catalogue</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/shards.min.css">

</head>
<body>
    <h1>Catalogue</h1>
    <form action="#" th:action="@{/commande}" method="post">
    <div>
        <table class="table  table-hover table-bordered table-condensed">
            <tr >
                <th>Descriptif</th>
                <th>Prix</th>
                <th class=" col-1" >Disponible</th>
                <th class=" col-1">Quantité en Stock</th>
                <th>Nclient</th>
                <th>quantite</th>
                <th>nproduit</th>
                <th>Ncommande</th>
                <th>datecommande</th>
            </tr>
            <tr th:each=" produit : ${products}">

                <td class="table-info" th:utext="${produit.descriptif}">...</td>
                <td class="table-warning" th:utext="${produit.prix}+' €'">...</td>
                <td th:utext="${produit.disponible}">...</td>
                <td th:utext="${produit.qteenstock}">...</td>
                <td class="table-warning">requete</td>
            </tr>
        </table>
    </div>

        <!--    message d'erreur selon la commande    -->
        <div class="offset-6 col-3">
            <div class="form-group row">
                <span  th:text="*{erreur}" class="text-danger"></span>
            </div>
        </div>
        <!--    bouton de validation                  -->
        <div class="form-group row">
            <div class="offset-10 col-8">
                <button name="Commander" type="submit" class="btn btn-primary">Commander</button>
            </div>
        </div>
    </form>
</body>
</html>