<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Index test</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
        <link rel="stylesheet" href="../css/shards.min.css">

    </head>
    <body>
    <a th:href="@{/listProduit}">Produit</a>

<!--    retour d'action sur appuie "valider"  -->
        <form action="#" th:action="@{/login}" method="post">
<!--        <form>-->
            <div class="form-group row">
                <div class="offset-1 col-1">
                    <h1>Connection</h1>
                </div>
            </div>
<!--            champs de login               -->
            <div class="form-group row">
                <label for="NOM" class="offset-1 col-1 col-form-label">Login :</label>                <div class="col-3">

                    <input id="NOM" name="NOM"  placeholder="Nom d'utilisateur" type="text"  th:field="*{testClient.nom}" required="required" class="form-control" aria-describedby="NOMHelpBlock">
                    <span id="NOMHelpBlock" class="form-text text-muted">Entrez votre login sans charactères spéciaux</span>
                </div>
            </div>
<!--            champs ddu mot de passe       -->
            <div class="form-group row">
                <label for="MOTDEPASSE" class="offset-1 col-1 col-form-label">Password :</label>
                <div class="col-3">
                    <input id="MOTDEPASSE" name="MOTDEPASSE" placeholder="Mot de passe" type="text" th:field="*{testClient.motdepasse}" aria-describedby="MOTDEPASSEHelpBlock" required="required" class="form-control">
                    <span id="MOTDEPASSEHelpBlock" class="form-text text-muted">Entrez votre mot de passe sans charactère spéciaux</span>
                </div>
            </div>
<!--    message d'erreur selon le login       -->
            <div class="offset-1 col-3">
                <div class="form-group row">
                    <span  th:text="*{erreur}" class="text-danger">Remplissez les champs</span>
                </div>
            </div>
<!--    bouton de validation                  -->
            <div class="form-group row">
                <div class="offset-3 col-8">
                    <button name="verif" type="submit" class="btn btn-primary">Valider</button>
                </div>
            </div>
        </form>
    </body>
</html>