<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>ListProduit</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/shards.min.css">

</head>
<body>
    <h1>Produit</h1>
    <div>
        <table border="1">
            <tr>
                <th>N°</th>
                <th>Descriptif</th>
                <th>Prix</th>
                <th>Disponible</th>
                <th>Quantité en Stock</th>
            </tr>
            <tr th:each=" produit : ${products}">
                <td th:utext="${produit.nproduit}">...</td>
                <td th:utext="${produit.descriptif}">...</td>
                <td th:utext="${produit.prix}">...</td>
                <td th:utext="${produit.disponible}">...</td>
                <td th:utext="${produit.qteenstock}">...</td>
            </tr>
        </table>
    </div>
</body>
</html>