<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Albums List</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
</head>
<body>

<h1>Album par ID</h1>



<br/><br/>
<div>
    <table border="1">

        <tr>
            <th>id</th>
            <th>titre</th>
            <th>année</th>
        </tr>

<!--        <tr th:each ="album : ${albums}">-->

            <td th:utext="${albums.id}">...</td>
            <td th:utext="${albums.titre}">...</td>
            <td th:utext="${albums.annee}">...</td>
        </tr>
    </table>
</div>
</body>
</html>