<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Albums List</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
</head>
<body>

<h1>Albums List</h1>



<br/><br/>
<div>
    <table border="1">

        <form th:action="@{/albumsannee}"  method="post">
            <div>
                <label>Année1</label>
                <input type="number" name="annee1"  id="annee1">
                <label>Année2</label>
                <input type="number" name="annee2"  id="annee2">
            </div>
            <div >
                <input type="submit"  value="Recherche">
            </div>
        </form>

        <form th:action="@{/albumsID}"  method="post">

            <div>
                <label>identifiant de l'album</label>
                <input type="number" name="monid"  id="monid">
            </div>
            <div>
                <input type="submit"  value="1 Album">
            </div>
        </form>

        <tr>
            <th>id</th>
            <th>titre</th>
            <th>année</th>
        </tr>

        <tr th:each ="album : ${albums}">
            <td th:utext="${album.id}">...</td>
            <td th:utext="${album.titre}">...</td>
            <td th:utext="${album.annee}">...</td>
        </tr>
    </table>
</div>
</body>
</html>