<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

    <head>
        <meta charset="UTF-8" />
        <title>Personnages Update</title>
        <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
    </head>

    <body>
        <h1>Modification d'un Personnages</h1>
        <br/><br/>
        <div>
            <form th:action="@{/updated}"   method="post">
                <div>
                    <div>
                        <label>Id :</label>
                        <input type="number" th:field="${perso.id}"  id="identifiant" >
                    </div>
                    <div>
                        <label>Nom :</label>
                        <input type="text" th:field="${perso.nom}"  id="nom">
                    </div>
                    <div>
                        <label>Prenom :</label>
                        <input type="text" th:field="${perso.prenom}" id="prenom">
                    </div>
                    <div>
                        <label>Profession :</label>
                        <input type="text" th:field="${perso.profession}" id="profession">
                    </div>
                    <div>
                        <label>Sexe :</label>
                        <input type="text" th:field="${perso.sexe}" id="sexe">
                    </div>
                    <div>
                        <label>Genre :</label>
                        <input type="text" th:field="${perso.genre}" id="genre">
                    </div>
                </div>
                <div >
                    <input type="submit"  value="Update">
                </div>
            </form>
         </div>
    </body>
</html>