<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

    <head>
        <meta charset="UTF-8" />
        <title>PersonnagesList</title>
        <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
    </head>

    <body>
        <h1>Liste des Personnages</h1>
        <a th:href="@{/personnagesCreate}">Creation d'un personnages</a>
        <br/><br/>
        <div>
            <table border="1">
                <tr>
                    <th>id</th>
                    <th>nom</th>
                    <th>prenom</th>
                    <th>profession</th>
                    <th>sexe</th>
                    <th>genre</th>
                    <th>Edit</th>
                    <th>Delete</th>
                </tr>
                <tr th:each ="person : ${personnages}">
                    <td th:utext="${person.id}">...</td>
                    <td th:utext="${person.nom}">...</td>
                    <td th:utext="${person.prenom}">...</td>
                    <td th:utext="${person.profession}">...</td>
                    <td th:utext="${person.sexe}">...</td>
                    <td th:utext="${person.genre}">...</td>
                    <td><a th:href="@{personnagesUpdate/{id}(id=${person.id})}" >E</a></td>
                    <td><a th:href="@{/delete/{id}(id=${person.id})}">D</a></td>
                </tr>
            </table>
        </div>
    </body>
</html>