<h2 *ngIf="cocktail">Ingrédient de {{cocktail.nom}} </h2>
<ul class="list-group" *ngIf="cocktail">
  <li class="list-group-item" *ngFor="let ingredient of cocktail.ingredients">{{ingredient.nom}} <span class="badge">{{ingredient.quantite}}</span></li>
</ul>
