<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
      xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>Crime ortal</title>
  </head>
  
  <body>
    <h1>Welcome to...</h1>
    <img th:src="@{/images/dupond.png}"/>
    
    <a th:href="@{/index}" id="organisations">Organisations</a>
    <a th:href="@{/indexgangster}" id="gangsters">Gangsters</a>
  </body>
</html>