<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
        <link rel="stylesheet" href="css/shards.min.css">
        <title>Cinema</title>
    </head>

    <body>

        <nav class="navbar fixed-top navbar-expand-lg  navbar-light bg-light ">

            <a class="navbar-brand" href="#">Cinema & MongoDB</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">

                        <li class="nav-item active">
                            <a class="nav-link" href="/index">Home</a>
                        </li>

                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown"
                               role="button" data-toggle="dropdown" aria-haspopup="true"
                               aria-expanded="false"> Movies
                            </a>

                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="/index">         All Movies</a>
                                <a class="dropdown-item" href="/selectgenre">   By Genre</a>
                                <a class="dropdown-item" href="/selectyear">    Between 2 Years</a>
                            </div>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="/selectdirector">Director</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/selectdirector">Actor</a>
                        </li>
                    </ul>

                    <form class="form-inline my-2 my-lg-0">
                        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                    </form>

                </div>

        </nav>

        <div class="row ">
            <div class="col-md-6">
                   <h2 class="invisible m-3" >Full Cringe!!!!! </h2>
                    <h2 class="my-3 ml-5 ">Movies</h2>
                    <table class="table table-striped table-responsive-md ml-5">
                        <thead>
                        <tr>
                            <th>Title</th>
                            <th>Country</th>
                            <th>Genre</th>
                            <th>Year</th>
                            <th>Director</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="movie : ${movies}">
                            <td th:text="${movie.title}"></td>
                            <td th:text="${movie.country}"></td>
                            <td th:text="${movie.genre}"></td>
                            <td th:text="${movie.year}"></td>
                            <td th:text="${movie.director.lastname + ' '+ movie.director.firstname}"></td>
                        </tr>
                        </tbody>
                    </table>
            </div>
        </div>
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>

    </body>
</html>
