<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Add Employee</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
</head>
<body>
<h1>Create an Employee:</h1>

<!--
   In Thymeleaf the equivalent of
   JSP's ${pageContext.request.contextPath}/edit.html
   would be @{/edit.html}
   -->
<form th:action="@{/addEmployee}"
      th:object="${employeeForm}" method="POST">
    Name:
    <input type="text" th:field="*{name}" />
    <br/>
    Role:
    <input type="text" th:field="*{role}" />
    <br/>
    <input type="submit" value="Create" />
</form>
<br/>

<!-- Check if errorMessage is not null and not empty -->

<div th:if="${errorMessage}" th:utext="${errorMessage}"
     style="color:red;font-style:italic;">
    ...
</div>

</body>
</html>