<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Welcome</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
    </head>
<body>
<h1>Welcome</h1>
        <a th:href="@{/listeacteur}">Consulter les acteurs</a>
        <a th:href="@{/selectionGenre}">Consulter les films d'un genre</a>
        <a th:href="@{/emprunter}">Emprunter un film</a>
        <a th:href="@{/listemprunter}">consulter la liste des emprunts</a>
    <a th:href="@{/listdesemprunt}">rendre un film</a>
    <a th:href="@{/gererclient}">Gestion des clients</a>
</body>
</html>
