<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
   <head>
          <meta charset="UTF-8" />
          <title>Welcome</title>
          <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
       </head>
   <body>
        <h1>Welcome</h1>
            <table>
                <tr>
                    <th>Id</th>
                    <th>Nom</th>
                    <th>Position</th>
                </tr>
                <tr th:each ="employee : ${employees}">
                    <td th:utext="${employee.empNo}"></td>
                    <td th:utext="${employee.empName}"></td>
                    <td th:utext="${employee.position}"></td>
                    <td><a th:href="@{/update/{descriptif}(descriptif=${employee.empNo})}">Update</a></td>
                </tr>
            </table>

            <form th:action="@{/addEmployee}" method="post">
                <label>Id :</label>
                <input type="text" th:field="${newEmployee.empNo}"/> </br>
                <label>Name :</label>
                <input type="text" th:field="${newEmployee.empName}"/> </br>
                <label>Position :</label>
                <input type="text" th:field="${newEmployee.position}"/></br>
                <button type="submit">Créer</button>
            </form>


   </body>
</html>
