<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
   <head>
          <meta charset="UTF-8" />
          <title>Welcome</title>
          <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
       </head>
   <body>
        <h1>Welcome</h1>

        <form th:action="@{/modification}" method="post">
            <table>
                <tr>
                    <th>Id</th>
                    <th>Nom</th>
                    <th>Position</th>
                </tr>
                <tr>
                    <td><input type="text" th:field="${emp.empNo}" th:value="${emp.empNo}"></td>
                    <td><input type="text" th:field="${emp.empName}" th:value="${emp.empName}"></td>
                    <td><input type="text" th:field="${emp.position}" th:value="${emp.position}"></td>
                </tr>
            </table>
            <button type="submit">Modifier</button>
        </form>
   </body>
</html>
