<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core">
    <h:head>
        <title>Facelet Title</title>
    </h:head>
    <h:body>
        <h:outputStylesheet library="css" 
                            name="style.css"  />
        
        <f:view>
            <h3>E-Cultura : Authentification</h3>
            <h:form>
                <h:panelGrid columns="3" styleClass="zoneEditor">
                    <h:outputLabel value="Nom :"/>
                    <h:inputText value="#{itemBean.nom}"
                                 id="idNom"
                                 required="true"
                                 requiredMessage="Le nom est obligatoire"/>
                    <h:message for="idNom" tooltip="true" 
                               showDetail="true"
                               showSummary="false"/> 
                    <h:outputLabel value="Prénom :"/>
                    <h:inputText value="#{itemBean.prenom}"
                                 id="idPrenom"
                                 required="true"
                                 requiredMessage="Le prénom est obligatoire"/>
                    <h:message for="idPrenom" tooltip="true" 
                               showDetail="true"
                               showSummary="false"/> 
                    <h:panelGroup>
                    <h:commandButton  
                               action="#{itemBean.doLogin}"
                               value="Login"/>
                    </h:panelGroup>

                </h:panelGrid>

            </h:form>
        </f:view>
    </h:body>
</html>
