<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core">
    <h:head>
        <title>Facelet Title</title>
    </h:head>
    <h:body>
        <h:outputStylesheet library="css" name="style.css"  />
        
        <h3> E-Cultura : Contenu du Panier </h3>
        <br />
        <f:view>
            <h:form>
                <h:dataTable value="#{itemBean.contenuPanier}"
                             var="achat" 
                             headerClass="c" 
                             footerClass="c"
                             styleClass="zoneEditor">
                    <h:column>
                        <f:facet name="header">
                            Titre
                        </f:facet>
                        <h:outputText value="#{achat.title}" ></h:outputText>
                        <f:facet name="footer">
                            Valeur du panier
                        </f:facet>
                    </h:column>
                    <h:column>
                       <f:facet name="header">
                            Prix
                        </f:facet>
                        <h:outputText value="#{achat.price}" styleClass="prix">
                             <f:convertNumber type="currency" pattern="####.##"/>
                        </h:outputText>
                        <f:facet name="footer" >
                            <h:outputText value="#{itemBean.valeurPanier}" styleClass="prix">
                              <f:convertNumber type="currency" pattern="####.##" />
                            </h:outputText>
                        </f:facet>
                    </h:column>
                    <h:column>
                       <f:facet name="header">
                            Quantité
                        </f:facet>
                        <h:inputText value="#{achat.quantite}"
                        		     id="modifierQte" 
                                     valueChangeListener="#{itemBean.updateQte}">
                            <f:validateLongRange minimum="1" maximum="3"/>
                        </h:inputText>
                    </h:column>
                    <h:column>
                        <f:facet name="header">
                            Modifier
                        </f:facet>
                        <h:commandButton value="Modifier"
                                  action="#{itemBean.doModifierAchat(achat)}" />
                    </h:column>
                    <h:column>
                        <f:facet name="header">
                            Supprimer
                        </f:facet>
                        <h:commandButton value="Supprimer"
                                  action="#{itemBean.doSupprimerAchat(achat)}" />
                    </h:column>
                </h:dataTable>
                <br />

                <h:panelGroup styleClass="zoneButton">
                      <h:commandButton action="#{itemBean.doListeItems}" 
                                       value="Catalogue" />
                      &nbsp;
                      <h:commandButton action="#{itemBean.doPaiement}" 
                                       value="Valider la commande" />                
                </h:panelGroup>

                <h:messages  showDetail="true"  showSummary="false"/>
            </h:form>
            
        </f:view>
    </h:body>
</html>

