<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core">
    <h:head>
        <title>Facelet Title</title>
    </h:head>
    <h:body>
        <h:outputStylesheet library="css" name="style.css"  />
        <h3> E-Cultura : Catalogue</h3>
        <br />
        <f:view>
            <h:form>
                <h:dataTable value="#{itemBean.ensItems}"
                             var="item" 
                             headerClass="c"
                             styleClass="zoneEditor">
                    <h:column>
                        <f:facet name="header">
                            Titre
                        </f:facet>
                        <h:outputText value="#{item.titre}"></h:outputText>
                    </h:column>
                    <h:column>
                       <f:facet name="header">
                            Prix
                        </f:facet>
                        <h:outputText value="#{item.prix}">
                             <f:convertNumber type="currency" pattern="####.##"/>
                        </h:outputText>
                    </h:column>
                    <h:column>
                        <f:facet name="header">
                            Acheter
                        </f:facet>
                        <h:commandButton value="Achat"
                                  action="#{itemBean.doSelectItem(item)}" />
                    </h:column>
                </h:dataTable>
            </h:form>
        </f:view>
    </h:body>
</html>
