<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
   <head>
          <meta charset="UTF-8" />
          <title>Video Service</title>
       </head>
   <body>
      <h1>Welcome</h1>

<table border="1">
    <tr>
        <th>Titre</th>
        <th>Genre</th>
        <th>Sortie</th>
        <th>Pays</th>
        <th>Réalisateur</th>
        <th>Acteur principal</th>
        <th>Entrée</th>
        <th>Oscar</th>
    </tr>
    <tr th:each ="film : ${ensFilms}">
        <td th:utext="${film.getTitre()}">...</td>
        <td th:utext="${film.getGenre().getNature()}">...</td>
        <td th:utext="${film.getSortie()}">...</td>
        <td th:utext="${film.getPays().getNom()}">...</td>
        <td th:utext="${film.getRealisateur()}">...</td>
        <td th:utext="${film.getActeur().getNom()}">...</td>
        <td th:utext="${film.getEntrees()}">...</td>
        <td th:utext="${film.getOscar()}">...</td>
        <td><a th:href="@{/deleteFilm/{filmDelete}(filmDelete=${film.getNfilm()})}">Delete</a></td>
        <td><a th:href="@{/updateFilm/{filmUpdate}(filmtUpdate=${film.getNfilm()})}">Update</a></td>
    </tr>
</table>


<form th:action="@{/ajouterFilm}" method="post">
    <label>Titre :</label> <input th:field="${newFilm.titre}">
    <label>Genre :</label> <input th:field="${newFilm.genre}">
    <label>Date de sortie :</label> <input th:field="${newFilm.sortie}">
    <label>Pays :</label> <input th:field="${newFilm.pays}">
    <label>Réalisateur :</label> <input th:field="${newFilm.realisateur}">
    <label>Acteur principal :</label> <input th:field="${newFilm.acteur}">
    <label>Entrées :</label> <input th:field="${newFilm.entrees}">
    <label>Oscar :</label> <input th:field="${newFilm.oscar}">
    <button type="submit" >Ajouter un nouveau client</button>
</form>

<a th:href="@{/index}">retour à l'accueil</a>
   </body>
</html>
