<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
   <head>
          <meta charset="UTF-8" />
          <title>Video Service</title>
       </head>
   <body>
      <h1>Welcome</h1>

<table border="1">
    <tr>
        <th>Nom</th>
        <th>Prénom</th>
        <th>Adresse</th>
        <th>Anciennetée</th>
    </tr>
    <tr th:each ="client : ${ensClients}">
        <td th:utext="${client.getNom()}">...</td>
        <td th:utext="${client.getPrenom()}">...</td>
        <td th:utext="${client.getAdresse()}">...</td>
        <td th:utext="${client.getAnciennete()}">...</td>
        <td><a th:href="@{/deleteClient/{clientDelete}(clientDelete=${client.getNclient()})}">Delete</a></td>
        <td><a th:href="@{/updateClient/{clientUpdate}(clientUpdate=${client.getNclient()})}">Update</a></td>
    </tr>
</table>


<form th:action="@{/ajouterClient}" method="post">
    <label>Nom :</label> <input th:field="${newClient.nom}">
    <label>Prénom :</label> <input th:field="${newClient.prenom}">
    <label>Adresse :</label> <input th:field="${newClient.adresse}">
    <label>Anciennetée :</label> <input th:field="${newClient.anciennete}">
    <button type="submit" >Ajouter un nouveau client</button>
</form>

<a th:href="@{/index}">retour à l'accueil</a>
   </body>
</html>
