<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
   <head>
          <meta charset="UTF-8" />
          <title>Video Service</title>
       </head>
   <body>
      <h1>Welcome</h1>
<form th:action="@{/modifierClient}" method="post">
<table border="1">
    <tr>
        <th>Nom</th>
        <th>Prénom</th>
        <th>Adresse</th>
        <th>Anciennetée</th>
    </tr>
    <tr>
        <td><input type="text" th:field="${clientUpdate.nom}" th:value="${clientUpdate.getNom()}"></td>
        <td><input type="text" th:field="${clientUpdate.prenom}" th:value="${clientUpdate.getPrenom()}"></td>
        <td><input type="text" th:field="${clientUpdate.adresse}" th:value="${clientUpdate.getAdresse()}"></td>
        <td><input type="text" th:field="${clientUpdate.anciennete}" th:value="${clientUpdate.getAnciennete()}"></td>
    </tr>
</table>

    <button type="submit">Valider les modifications</button>

</form>

<a th:href="@{/index}">retour à l'accueil</a>
   </body>
</html>
