<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Acteur List</title>
    <link rel="stylesheet" type="text/css" th:href="@{/static/css/style.css}"/>
</head>
<body>

<h1>Acteur List</h1>
<a th:href="@{/index}">home</a>

<a th:href="@{/acteurList}">Acteur List</a>

<a th:href="@{/filmList}">Film List</a>

<a th:href="@{/empruntList}">Emprunt List</a>

<a th:href="@{/clientList}">Client List</a>

<form th:action="@{/voiracteur}"
      method="POST">
    <select name="acteurchoisi">
        <option th:each="acteur : ${acteurs}"
                th:value="${acteur.nacteur}"
                th:text="${acteur.nom}+' '+${acteur.prenom}">Genre</option>
    </select>
    <button type="submit"> valider </button>
</form>
<br/><br/>
<div>
    <table border="1">
        <tr>
            <th>Nom</th>
            <th>Prenom</th>
        </tr>

        <tr th:each ="act : ${acteurs}">
            <td th:utext="${act.nom}">...</td>
            <td th:utext="${act.getPrenom()}">...</td>
            <td th:utext="${act.pays.nom}">...</td>
        </tr>
    </table>
</div>
</body>
</html>