<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Acteur List</title>
    <link rel="stylesheet" type="text/css" th:href="@{/static/css/style.css}"/>
</head>
<body>

<h1>Clients List</h1>
<a th:href="@{/index}">home</a>
<a th:href="@{/acteurList}">Acteur List</a>

<a th:href="@{/filmList}">Film List</a>

<a th:href="@{/empruntList}">Emprunt List</a>

<a th:href="@{/clientList}">Client List</a><form th:action="@{/voirclient}"
      method="POST">
    <select name="clientchoisi">
        <option th:each="client : ${clients}"
                th:value="${client.nclient}"
                th:text="${client.nom}+' '+${client.prenom}">Genre</option>
    </select>
    <button type="submit"> valider </button>
</form>
<br/><br/>
<div>
    <table border="1">
        <tr>
            <th>Nom</th>
            <th>Prenom</th>
            <th>adresse</th>
            <th>anciennete</th>
        </tr>
        <tr th:each ="client : ${clients}">
            <td th:utext="${client.nom}">...</td>
            <td th:utext="${client.prenom}">...</td>
            <td th:utext="${client.adresse}">...</td>
            <td th:utext="${client.anciennete}">...</td>
        </tr>
    </table>
</div>
</body>
</html>