<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>clientCreation</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/css/shards.min.css">
</head>
<body>
<h1>Création de Client</h1>
<!--     *********  Menu    **********-->
<a th:href="@{/acteurList}">Acteur List</a>

<a th:href="@{/filmList}">Film List</a>

<a th:href="@{/empruntList}">Emprunt List</a>

<a th:href="@{/clientList}">Client List</a>

<a th:href="@{/clientCrea}">Client Création</a>


<div th:switch="${clients}" class="container my-5">
    <div class="row">
        <div class="col-md-6">
            <h2 th:case="null">Pas de clients!</h2>
            <div th:case="*">
                <h2 class="my-5">Clients</h2>
                <table class="table table-striped table-responsive-md">
                    <thead>
                    <tr>
                        <th>Nom</th>
                        <th>Prenom</th>
                        <th>Adresse</th>
                        <th>Ancienneté</th>
                        <th>Edit</th>
                        <th>Delete</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="client : ${clients}">
                        <td th:text="${client.nom}"></td>
                        <td th:text="${client.prenom}"></td>
                        <td th:text="${client.adresse}"></td>
                        <td th:text="${client.anciennete}"></td>
                        <td><a th:href="@{/edit/{id}(id=${client.nclient})}" class="btn btn-primary"><i class="fas fa-user-edit ml-2"></i></a></td>
                        <td><a th:href="@{/delete/{id}(id=${client.nclient})}" class="btn btn-primary"><i class="fas fa-user-times ml-2"></i></a></td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <p class="my-5"><a href="/signup" class="btn btn-primary"><i class="fas fa-user-plus ml-2"></i></a></p>
        </div>
    </div>
</div>

</body>
</html>