<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Emprunt List Client</title>
    <link rel="stylesheet" type="text/css" th:href="@{/static/css/style.css}"/>
</head>
<body>
<h1>Liste des Emprunts par Client</h1>
<a th:href="@{/index}">home</a>
<a th:href="@{/acteurList}">Acteur List</a>

<a th:href="@{/filmList}">Film List</a>

<a th:href="@{/empruntList}">Emprunt List</a>

<a th:href="@{/clientList}">Client List</a>
<br/><br/>

<div>

    <table border="1">
        <tr>
            <th>Client</th>
            <th>Film</th>
            <th>Retour</th>
            <th>Date d'emprunt</th>


        </tr>
        <tr th:each ="emprunt : ${empruntsclient}">
            <td th:utext="${emprunt.client.nom}+' '+${emprunt.client.prenom}">...</td>
            <td th:utext="${emprunt.film.titre}">...</td>
            <td th:utext="${emprunt.retour}">...</td>
            <td th:utext="${emprunt.dateemprunt}">...</td>
        </tr>
    </table>
</div>
</body>
</html>