<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Film List Genre</title>
    <link rel="stylesheet" type="text/css" th:href="@{/static/css/style.css}"/>
</head>
<body>
<h1>Liste de film selon un genre choisi</h1>
<a th:href="@{/index}">home</a>
<a th:href="@{/acteurList}">Acteur List</a>

<a th:href="@{/filmList}">Film List</a>

<a th:href="@{/empruntList}">Emprunt List</a>

<a th:href="@{/clientList}">Client List</a>
<br/><br/>

<div>
    <table border="1">
        <tr>
            <th>Titre</th>
            <th>Genre</th>
            <th>Réalisateur</th>
            <th>Acteur Principal</th>
        </tr>
        <tr th:each ="film : ${ensfilmchoisi}">
            <td th:utext="${film.titre}">...</td>
            <td th:utext="${film.genre.nature}">...</td>
            <td th:utext="${film.realisateur}">...</td>
            <td th:utext="${film.acteur.nom}+' '+${film.acteur.prenom}">...</td>
        </tr>
    </table>
</div>
</body>
</html>