<h2>Cocktails : </h2>
<ul  class="list-group">
  <li class="list-group-item" [class.active]=
    "selectedCocktail.id == cocktail.id" (click)=
    "setSelelectCocktail($event, cocktail)" *ngFor=
    "let cocktail of cocktails">{{cocktail.nom}}</li>
</ul>
