<p>autre works!</p>

<div>
  <input id="taille" type="number" value="{{taille}}"  (blur)="changeStyle($event)">
  <input id="couleur" type="text" value="{{couleur}}" (blur)="changeStyle($event)">
</div>
<!--<div [ngStyle]="myStyleDiv">cette div change de décore en fonction des input</div>-->
<!--  <input type="text" [(ngModel)]="content" [(ngModelChange)]="styleEvent($event)"/>-->
<!--<input  ngModel="content" >-->
<!--(ngmodelchange)="styleEvent($event)"-->
<!-- (ngModelChange)="styleEvent($event)" -->
<!--  <hr />-->
<!--  <p {{content}}></p>-->

<!--<div *ngFor="let item of items">-->
<!--  {{ item }}-->
<!--</div>-->
<!--<div [style.font-size]="estImportant ? 'x-large' : 'smaller'">-->
<!--  Cette div est plus importante-->
<!--</div>-->
<!--<div [ngStyle]="myDivStyle">-->
<!--  Cette div style-->
<!--</div>-->
