body {
  width: 800px;
  height: 250px;
  border: 2px solid grey;
  position: absolute;
  margin: 20px;
  float:left;
}
div{
  margin: 10px;
  float:left;
  width:40%;
  height:50%;

}
h1{
  font-size: 15px;
}
.list-cocktail , .list-ingredient{
  width:40%;
  height:80%;
  overflow: scroll;
}
