<html>
  <header>

  </header>
  <body>
    <div id="cockList">
      <h1>Liste des cocktails</h1>
      <ul class="list-cocktail">
        <li *ngFor="let item of items">{{items}}</li>
        <li *ngFor="let cocktail of cocktails">{{cocktails}}</li>
      </ul>
      <input type="button" value="Ajout du cocktail" id="add">
    </div>
    <div id="ingList">
      <h1>Liste des ingrédients</h1>
      <ul class="list-ingredient">
        <li class="list-group-item">First item</li>
        <li class="list-group-item">Second item</li>
        <li class="list-group-item">Third item</li>
        <li class="list-group-item">First item</li>
        <li class="list-group-item">Second item</li>
        <li class="list-group-item">Third item</li>
        <li class="list-group-item">First item</li>
        <li class="list-group-item">Second item</li>
        <li class="list-group-item">Third item</li>
        <li class="list-group-item">First item</li>
        <li class="list-group-item">Second item</li>
        <li class="list-group-item">Third item</li>
        <li class="list-group-item">First item</li>
        <li class="list-group-item">Second item</li>
        <li class="list-group-item">Third item</li>
      </ul>
      <input type="button" value="Edition du cocktail" id="edit">
    </div>
  </body>
</html>
